.icon {
  height: 30px;
  width: 30px;
}

#logo {
  color: #e2afff;
}

.nav-link:hover {
  text-decoration: underline;
  text-decoration-color: #e2afff;
}

/* Carousel */

.bg-opacity {
  opacity: 0.6;
}
